            html, body {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                display: table;
                font-weight: 100;
                font-family: 'Lato';
            }

            .container {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }

            .header {
                text-align: center;
                display: table-header-group;
                vertical-align: middle;
            }

            .content {
                text-align: center;
                display: table-cell;
            }

            .footer {
                text-align: center;
                display: table-footer-group;
                vertical-align: middle;
            }

            .title {
                font-size: 96px;
            }